<div class="container-fluid mt-5" id="footer">
		  	<footer class="d-flex flex-wrap justify-content-between align-items-center py-3 border-top border-bottom">
			    <div class="col-md-4 d-flex">
			      	<img src="/images/footer/logo.jfif" alt="" width="30" height="24">
			      	<span class="text-muted">© 2022 Niner Sports Exchange, UNC Charlotte</span>
			    </div>

			    <ul class="nav col-md-4 justify-content-center">
			      	<li class="nav-item"><a href="/about" class="nav-link px-2 text-muted">About</a></li>
			      	<li class="nav-item"><a href="/contact" class="nav-link px-2 text-muted">Contact</a></li>
			    </ul>

			    <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
			      	
			      	<li class="ms-3">
			      		<a class="text-muted" href="#">
			      			<img class="footer-img" src="/images/footer/facebook.png" alt="">
			      		</a>
			      	</li>
			      	<li class="ms-3">
			      		<a class="text-muted" href="#">
			      			<img class="footer-img" src="/images/footer/twitter.png" alt="">
			      		</a>
			      	</li>
			    </ul>
		  	</footer>
		</div>
	</BODY>	
</HTML>