<%- include('../partials/header.ejs')%>
	<div class="container-fluid container m-4">
		<form class="rounded" id="form" method="POST" action="/exchange">

		  	<div class="form-group m-3">
		    	<label class="m-1 text-green"><b>Sport</b></label>
		    	<input type="text" class="form-control fst-italic" id="category" name="category" placeholder="Enter Sport" required>
		  	</div>
	  		<div class="form-group m-3">
	  	  		<label class="m-1 text-green"><b>Item</b></label>
	  	  		<input type="text" class="form-control fst-italic" id="name" name="name" placeholder="Enter Item" required>
	  		</div>
  			<div class="form-group m-3">
  		  		<label class="m-1 text-green"><b>Details</b></label>
  		  		<textarea class="form-control fst-italic" rows="3" id="content" name="content" placeholder="Write brief description which includes Brand, Size, Color, etc." required minlength="10"></textarea>
  			</div>

		  	<button type="submit" class="btn btn-success m-3"><b>Create Exchange</b></button>

		</form>
	</div>
<%- include('../partials/footer.ejs')%>