<%- include('./partials/header.ejs') %>
	<div class="container-fluid container m-4">
		<div class="card mb-3">
		  <div class="card-header text-green">
		    <b>Contact</b>
		  </div>
		  <div class="card-body">
		  		<p class="card-text mb-0"> Vidit Sethi</p>
		  		<p class="card-text mb-0"> vsethi@uncc.edu</p>
		  </div>
		</div>
	</div>
<%- include('./partials/footer.ejs') %>