<%- include('./partials/header.ejs')%>

		<div class="container container-fluid rounded m-5" id="carousel">
			<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
			  <div class="carousel-inner">
			    <div class="carousel-item active">
			      <img src="images/index/main.jpg" class="d-block w-100" alt="...">
			    </div>
			    <div class="carousel-item">
			    	<div class="container">
			    		<br>
	      				<br>
	      				<br>
			      		<h3 class="text-carousel-green">
			    	  		Want a Sporting Equipment!!!
			    	  	</h3>
			    	  	<br>
			    	  	<h4 class="text-carousel-blue">
				      		Don't have enough funds...
				      		<br>
			      			Don't worry,
			      			<br>
			      			We have a solution for you
	      				</h4>
	      				<br>
	      				<br>
	      				<br>
	      			</div>
			    </div>
			    <div class="carousel-item">
			    	<div class="container">
			    		<br>
	      				<br>
	      				<br>
	      				<br>
			      		<h3 class="text-carousel-green">
			    	  		Welcome to Niner Sports Exchange
	      				</h3>
	      				<br>
	      				<h5 class="text-carousel-blue">
	      					This portal will allow to exchange your sporting Equipment with other...!!!
	      					<br>
	      					Get your desired Equipment in just a few clicks
	      				</h5>
	      				<br>
	      				<br>
	      				<br>
	      				<br>
	      			</div>
			    </div>
			  </div>
			  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
			    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
			    <span class="visually-hidden">Previous</span>
			  </button>
			  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
			    <span class="carousel-control-next-icon" aria-hidden="true"></span>
			    <span class="visually-hidden">Next</span>
			  </button>
			</div>

		</div>

<%- include('./partials/footer.ejs')%>